@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: 'Aller';
    src: url('../font/Aller.eot');
    src: url('../font/Aller.eot?#iefix') format('embedded-opentype'),
         url('../font/Aller.woff') format('woff'),
         url('../font/Aller.ttf') format('truetype'),
         url('../font/Aller.svg#Aller') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Aller-Bold';
    src: url('../font/Aller-Bold.eot');
    src: url('../font/Aller-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Aller-Bold.woff') format('woff'),
         url('../font/Aller-Bold.ttf') format('truetype'),
         url('../font/Aller-Bold.svg#Aller-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('font/PTS75F-webfont.eot');
    src: url('font/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTS75F-webfont.woff') format('woff'),
         url('font/PTS75F-webfont.ttf') format('truetype'),
         url('font/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('font/PTS56F-webfont.eot');
    src: url('font/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTS56F-webfont.woff') format('woff'),
         url('font/PTS56F-webfont.ttf') format('truetype'),
         url('font/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('font/PTS55F-webfont.eot');
    src: url('font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTS55F-webfont.woff') format('woff'),
         url('font/PTS55F-webfont.ttf') format('truetype'),
         url('font/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('font/PTS76F-webfont.eot');
    src: url('font/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTS76F-webfont.woff') format('woff'),
         url('font/PTS76F-webfont.ttf') format('truetype'),
         url('font/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ background:url(../images/bodybg.png) repeat; margin:0px; padding:0px; font-family: 'PTSansRegular', Arial, sans-serif;
	font-size: 13px; color:#000;}
#main{ width:100%; float:left;}
.mediacenter{display:block;margin-left:auto;margin-right:auto;}.leftalign{text-align:left;}.centeralign{text-align:center;}.rightalign{text-align:right;}em.u{font-style:normal;text-decoration:underline;}em em.u{font-style:italic;}
div.clearer{clear:both;line-height:0;height:0;overflow:hidden;}div.no{display:inline;margin:0;padding:0;}.hidden{display:none;}
ul{ list-style-type:none;}
.fleft{float:left;}
.fright{float:right;}
a, a:hover{text-decoration:none;}
#wrapper{ box-shadow:2px 2px 5px #f4f4f4;border:1px solid #044559;
border-radius:25px; margin:20px auto; width:1024px; padding:0; -moz-border-radius:25px; -o-border-radius:25px; -webkit-border-radius:25px; background:url(../images/wrapperbg.png) repeat;}
.img{border:none;}
.header{ background:url(../images/headerbg.png) no-repeat; width:1024px; height:266px; float:left;border-radius:25px 25px 0px 0px; -moz-border-radius:25px 25px 0px 0px; -o-border-radius:25px 25px 0px 0px; -webkit-border-radius:25px 25px 0px 0px; text-align:left;}
.logoimage{color:#f8f8f8; float:left; margin:10px 0 0 10px; width:370px;}
.logo{color:#f8f8f8; float:left; width:630px; text-align:center; margin:50px 0px 0px 0px;}
.logo li a{color:#ffff00;}.logo li a:hover{color:#40fefe;}
h1 a,h2 a,h3 a,h4 a,h5 a{ text-decoration:none;}

.navbar{text-align:center;width:800px; float:left;}
.footerinc{border-radius: 0px 0px 25px 25px; -moz-border-radius: 0px 0px 25px 25px; -o-border-radius: 0px 0px 25px 25px; -webkit-border-radius: 0px 0px 25px 25px;}
.logo ul{list-style-type:none;list-style-image:none;margin:30px 0 0 40px; padding:0; float:left; background:url(../images/rgb.png) no-repeat; width:560px;}.logo ul li{ float:left; width:33%; text-align:center; line-height:30px; font-size:18px; color:#ffff00;}
.logo .logotext{ text-shadow:10px 10px 13px #fff; font-weight:bold; text-align:center; text-indent:20px; font-size:40px; text-align:center;}
.left_sidebar{float:left;width:200px; margin:12px 0 0 0; text-indent:15px;}
.left_sidebar ul{ margin:0px; padding:0px;}
.left_sidebar h3{ text-decoration:underline; font-size:18px; color:#eefcaa; }
.left_sidebar li{ margin:10px 20px 0 12px; font-size:16px; background:url(../images/bullet.png) no-repeat left center;  text-indent:20px; border-bottom:1px dotted #cbf8f8;}
.left_sidebar li a{color:#AEAEAE;}
.left_sidebar li a:hover{ color:#ff7f7f;}
.right_sidebar{float:right;width:200px; margin:12px 0 0 0;}
.mid-content{float:left;width:600px; margin:12px;}.mid-content .center{ margin:10px 10px; width:580px;}.mid-content .center a{}
.mid-content .center a:hover{ color:#0000ff; text-decoration:underline;}.mid-content .center p a{ color:#0000ff;}
.mid-content h1{ background:url(../images/headingbg.png) no-repeat; line-height:50px; width:600px; text-indent:20px; color:#105f78;}
.mid-content h1 a{  color:#105f78;}
p, blockquote,  pre{margin:0 0 1.0em 0;}
.mid-content h2{ color:#3fbf3f;}
.mid-content h3{ margin:10px 10px 0 10px;color:#7fff7f;}
.mid-content table{ width:560px; text-align:center; margin-left:10px; margin-bottom: 10px;  border:none;}
.mid-content table td{ padding:3px; }.mid-content table td a{ color:#0000ff;}
.mid-content table .alternate{ background:#b2c0cd; color:#000;}.mid-content table tr{ background:#FFF; color:#000; }
 .footerinc{background:url(../images/headingbg.png) #ecf0f3 repeat-x; color:#105f78; padding:30px 0;}
.google-add{ width:100px; height:300px; background:#FFF; margin:20px 20px;
}

.levelnew { background:#fff;padding:10px; }
