/* ########## reset ########## */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset, img { border: none; }
ul, ol { list-style: none; }
caption, th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/* ########## layout ########## */
.clear { clear: both; }
.clearer { clear: both; display: block; font-size: 1px; height: 0; line-height: 1px; margin: 0; padding: 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ########## analytics ########## */
div.analytics { background: #ffaeae; border: 1px solid red; color: #ffffff; font-size: 200%; font-weight: bold; line-height: 40px; margin: 5px; text-align: center; }
