/* ########## general ########## */
html, body { background: #f2f2f2 url(/web/resource/img/global/body.jpg) repeat-x; }

body { font: 0.70em verdana,sans-serif; text-align: center; }
#body { color: #666666; margin: 5px auto; text-align: left; width: 990px; background: #fff; }
h1, h2, h3, h4, h5, h6 { color: #333333; font-family: arial, sans-serif; font-weight: bold; }
h1 { font-size: 220%; }
h2 { font-size: 180%; }
	/* SEO-CHANGE-PG50-PT7 */
	h2 p, h2 span { font-size: 50%; color: #666; font-weight: normal; font-family: verdana; }
		h2 p b { font-size: 115%; }
/* END-CHANGE */
h3 { font-size: 160%; }
h4 { font-size: 140%; }
a { color: #333333; text-decoration: none; }
.justify { text-align: justify; }
.nobr { white-space: nowrap; }
b, strong, .bold { font-weight: bold; }
.small { font-size: 85%; }
.italic { font-style: italic; }
div.top-banner { margin: 0px 5px; }

/* ########## header ########## */
#header { position: relative; z-index: 999; }
#region {
     
     background-color: #c71507; 
      
}
	#region img { float: right; height: 9px; margin: 5px 0; outline: none; text-indent: -9999px; }
#masthead { color: #ffffff; height: 55px; position: relative;
           background-color: #c71507; 
             


}
	#masthead > a { top: 8px; position: relative; display: block; background: transparent url(/web/resource/img/global/global-sprite.png) 0 -258px no-repeat; width: 135px; height: 35px; outline: none; text-indent: -9999px; }
	#masthead .site-location { font-family: Helvetica; font-size: 17px; font-weight: bold; font-stretch: condensed; position: absolute; left: 210px; top: 15px; }
	#masthead dl { top: 8px; height: 37px; position: absolute; right: 0; width: 343px; }
		#masthead dl a { display: block; outline: none; text-indent: -9999px; }
	#masthead dd { background: #ffffff; height: 37px; position: absolute; width: 343px; }
		#masthead dd input { border: none; outline: none; color: #383838; height: 37px; padding: 0 0 0 6px; width: 300px; float: left; font-size: 16pt; }
		#masthead dd a { background: #ffffff url(/web/resource/img/global/global-sprite.png) 0 -359px no-repeat; float: right; width: 37px; height: 37px; margin: 0; }

/* ########## breadcrumb ########## */
#breadcrumb { /*background: #ffffff url(/web/resource/img/global/breadcrumb/background.jpg) repeat-x bottom;*/ height: 18px; margin-bottom: 1px; padding: 5px 5px 0; }
	#breadcrumb a { background: transparent url(/web/resource/img/global/breadcrumb/arrow.jpg) no-repeat center right; color: #656565; padding: 0 15px 0 5px; text-decoration: none; }
		#breadcrumb a:hover { text-decoration: underline; }
		#breadcrumb a:last-child { background: none; }
		#breadcrumb a.home { color: #c90000; font-weight: bold; }

/* ########## content ########## */
/*#content { background: #fff; }*/
/*#content { background: #f2f2f2; }*/
#content h3 { margin: 5px 0 0; }
#content p { margin-bottom: 10px; }
#content div.indent { padding: 10px; }
#content div.column.main p a, #content div.column.main li a, #icons a { color: #d41405; }
#content div.column.main a:hover { text-decoration: underline; }
/*body.green-toshiba.faq div.text p, #content div.text div.section p, #content div.text div.section li { font-size: 120%; }*/

/* ########## columns ########## */
#content div.column.side, #content div.column.main { display: block; float: left; }
#content div.column.side { margin: 0 5px; width: 200px; }
#content div.column.main { margin: 0 5px; width: 980px; }

/* ########## titles ########## */
#body #content div.header { border: 1px solid #e3ddd8; padding: 4px; margin-bottom: 5px; }
	#body #content div.header h1, #body #content div.header h2 { background: #464646; color: #ffffff; display: block; font-size: 100%; height: 25px; line-height: 25px; padding: 0 10px; text-transform: uppercase; }

/* buttons */
#body #content div.header { position: relative; }
	#body #content div.header div.buttons { position: absolute; right: 5px; top: 4px; }
		#body #content div.header div.buttons span { background: transparent url(/web/resource/img/global/button/divider.gif) no-repeat center center; display: block; float: left; height: 25px; width: 5px; }
		#body #content div.header div.buttons a { background: transparent no-repeat center center; cursor: pointer; display: block; float: left; height: 25px; outline: none; text-indent: -9999px; width: 25px; }
			#body #content div.header div.buttons a.email { background-image: url(/web/resource/img/global/button/email.gif); display: none; }
			#body #content div.header div.buttons a.print { background-image: url(/web/resource/img/global/button/print.gif); }
			#body #content div.header div.buttons a.delicious { background-image: url(/web/resource/img/global/button/delicious.gif); }
			#body #content div.header div.buttons a.digg { background-image: url(/web/resource/img/global/button/digg.gif); }
			#body #content div.header div.buttons a.facebook { background-image: url(/web/resource/img/global/button/facebook.gif); }
			#body #content div.header div.buttons a.myspace { background-image: url(/web/resource/img/global/button/myspace.gif); }
			#body #content div.header div.buttons a.twitter { background-image: url(/web/resource/img/global/button/twitter.gif); }

/* ########## text pages ########## */
#body #content div.text { text-align: center; margin: 5px; }
	#body #content div.text img.banner { display: block; margin: 0 auto 15px; }
	#body #content div.text h3 { font-size: 180%; }
	#body #content div.text h3, #body #content div.text h4 { text-align: left; }
	#body #content div.text p { font-size: 125%; text-align: justify; }
	#body #content div.text li { font-size: 125%; }
		#body #content div.text li > h3 { font-size: 140%; }
		#body #content div.text li > p { font-size: 100%; }
body.faq #content div.text ul, body.faq #content div.text li { list-style-type: none; }
#body #content div.text p.small { font-size: 85%; }
#body #content div.text div.section { margin-bottom: 25px; }
	#body #content div.text div.section div { margin: 0 5px; text-align: justify; width: 590px; }
	#body #content div.text div.section.left img { float: left; margin-left: 10px; }
	#body #content div.text div.section.left div { float: right; }
	#body #content div.text div.section.right img { float: right; }
	#body #content div.text div.section.right div { float: left; margin-left: 10px; }
#body #content div.text ul, #body #content div.text ol { margin-bottom: 15px; margin-left: 35px; text-align: left; }
#body #content div.text ul { list-style-type: disc; }
#body #content div.text ol { list-style-type: decimal; }

/* ########## lists ########## */
#content ul.bullet { list-style-type: disc; margin: 5px 0 10px 25px; }
	#content ul.bullet li { margin-bottom: 5px; }

/* ########## pod ########## */
div.pod { border: 1px solid #e3ddd8; border-bottom: 5px solid #999999; margin-bottom: 5px; padding: 4px; width: 192px; }
	div.pod h4.header { background-color: #464646; background-position: 10px center; background-repeat: no-repeat; color: #ffffff; display: block; height: 25px; line-height: 25px; margin-bottom: 5px; padding: 0 5px; text-indent: -9999px; }
	div.pod div.content { font-size: 90%; }
		div.pod div.content p { display: block; margin-bottom: 15px; }
		div.pod div.content img { background: transparent no-repeat center center; display: block; height: 120px; margin: 0 auto; width: 180px; }
		div.pod div.content a.more { text-decoration: underline; }
	div.pod div.footer { display: none; }

	/* global > browse */
	div.pod.browse h4.header { background-image: url(/web/resource/img/global/pod/title/browse.png); }
	div.pod.browse li.hide.region { display: none; }
img.logo { margin: 20px 0; }

/* global > featured */
div.pod.featured { background: transparent url(/web/resource/img/global/pod/featured/body.jpg) repeat-x bottom; text-align: center; }
	div.pod.featured h4.header { background-color: #999; display: none; }
	div.pod.featured h5 { color: #333333; font-size: 100%; }
	div.pod.featured a.more { background: transparent url(/web/resource/img/global/pod/featured/btn-learn-more.png) no-repeat; display: block; height: 29px; margin: 15px auto 5px; outline: none; text-indent: -9999px; width: 169px; }
		div.pod.featured a.more:hover { background-position: 0 bottom; }

/* global > navigation */
div.pod.navigation li a:hover { text-decoration: underline; }

/* ########## table ########## */
table.stripe { width: 100%; }
	table.stripe thead th { background: #252525; color: #ffffff; font-weight: bold; }
	table.stripe tbody tr.alternate { background: #f4f4f4; }

/* ########## footer ########## */
#footer { background: #cfcfcf url(/web/resource/img/global/footer/bg-sprite.png) 0 0 repeat-x; border-top: 1px solid #f2f1f2; margin-top: 150px; }
	#footer #footer-header { height: 28px; line-height: 28px; background: #ffffff url(/web/resource/img/global/footer/bg-sprite.png) 0 -403px repeat-x; }
		#footer #footer-header::before { content: " "; height: 9px; display: block; }
		#footer #footer-header b { background: transparent url(/web/resource/img/global/global-sprite.png) 0 -426px no-repeat;
								   width: 100px; height: 9px; display: block; text-indent: -9999px; margin-left: 15px; }
	#footer a { color: #666666; font-size: inherit; }
	#footer p { padding: 15px; }
		#footer p a:hover { text-decoration: underline; }
	#footer ul { float: left; margin-top: 20px; margin-left: 20px; width: 175px; }
		#footer ul li.hide { display: none; }
		#footer ul li.group { border-bottom: 1px dotted #666666; margin: 10px 0 5px; padding: 0 0 10px; }
			#footer ul li.group h4 { font-size: 100%; }
		#footer ul li#f-products-education { margin-top: 23px; display:none;}
		#footer ul li#f-where-to-buy{ border: 0; }
		#footer ul li#f-buying-guide  { border: 0; display:none; }
		#footer ul li#f-products-business  { border: 0; display:none; }
			#footer ul li#f-where-to-buy ul { display: none; }
		#footer ul li.group a { color: #666666; font-size: inherit; font-weight: bold; white-space: nowrap; }
		#footer ul li a { color: #666666; font-size: 90%; text-decoration: none; }
			#footer ul li a:hover { text-decoration: underline; }

	/* ########## float fix ########## */
	#region,
	#content,
	#footer div,
	div.section,
	#menu,
	#models li ol.file,
	#product-search,
	#product-families,
	#product-featured,
	#product-summary,
	#product-navigation,
	#compare,
	body.support,
	body.support ul.icons,
	body.support ul.icons li,
	body.support div.container,
	#filters,
	#type-navigation,
	#support-navigation,
	p.bottom,
	.column.main div.browse,
	.column.main .groups li,
	div.finder fieldset label,
	#results,
	#results ul,
	#results ul li,
	#results ul div { *display: inline-block; }

		#region:after,
		#content:after,
		#footer div:after,
		div.section:after,
		#menu:after,
		#models li ol.file:after,
		#product-search:after,
		#product-families:after,
		#product-featured:after,
		#product-summary:after,
		#product-navigation:after,
		#compare:after,
		body.support:after,
		body.support ul.icons:after,
		body.support ul.icons li:after,
		body.support div.container:after,
		#filters:after,
		#type-navigation:after,
		#support-navigation:after,
		p.bottom:after,
		.column.main div.browse:after,
		.column.main .groups li:after,
		div.finder fieldset label:after,
		#results:after,
		#results ul:after,
		#results ul li:after,
		#results ul div:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/*.disclaimer .text, .privacy .text, .terms .text { font-size: 7pt; }*/

.cross-links { color: #666 !important; font-size: 7pt; float: left; margin-right: 10px; }
	.cross-links table td { padding: 0px; }

/* ########## ad ########## */
div.microsoft { background: transparent !important; bottom: 0px; display: block; float: none !important; height: auto !important; right: 5px; position: absolute !important; text-align: center; }
	div.microsoft.windows-seven { margin: 0; width: 423px; }
	div.microsoft.windows-eight { margin: 8px; /*width: 420px;*/ }

	div.microsoft p { background: #ffffff !important; color: #000000; display: block; font-family: Arial, Helvetica, Sans-Serif; float: left; font-size: 12px !important; font-weight: bold; height: auto !important; }
	div.microsoft.windows-seven p { border: 1px solid #f4f4f4; padding: 11px 0px; width: 245px !important; margin: 6px 0px !important; }
	div.microsoft.windows-eight p { border: 0px; padding: 0px; width: 400px !important; height: 31px; line-height: 30px; margin: 0px 0px 0px 0px !important; text-align: right; }
    div.microsoft.windows-eight p a { /*display: none; */}

	div.microsoft a.learn { display: block; outline: none; text-indent: -9999px; float: right; }
	div.microsoft.windows-seven a.learn { background-image: url(/web/resource/img/products/microsoft/windows7-better-business.jpg); height: 37px; margin: 8px; width: 160px; }
	div.microsoft.windows-eight a.learn { background-image: url(/web/resource/img/products/microsoft/windows8.png); height: 31px; margin: 0px 0px 0px 8px; width: 200px; }

#content div.column.side { display: none; }
#content div.column.main { width: 980px; margin: 0 5px; }
body.products #content div.column.side { display: block; margin: 0 5px; }
body.products #content div.column.main { width: 770px; }

a.btn-toshiba { background-color: #c71507; color: white !important; display: block; padding: 10px 30px; font-size: 1.4em; outline: none; border-radius: 5px; text-decoration: none; }
a.btn-toshiba:hover { background-color: #fb0505; text-decoration: none !important; }
